* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.Calendar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    max-width: 1200px;
}

.Calendar .info{
    background-color: gray;
}

.Calendar .grid{
    display: grid;
    grid-template: auto/ repeat(7,1fr) ;
    gap: 1vw;
    padding: 1vw;
}

.Calendar .grid div{
    width: 100%;
    height: 100%;
    padding: 1vw;
    border-radius: 4px;
    background-color: white;
}
